
body {
  background-color: #1C3E82;
  margin: 0;
}
/* HEADER */
header {
  /*border-bottom: 1px dotted #79a5ff;*/
  background-color: #002968;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-family: 'Bitter';
  text-align: center;
  color:#79a5ff;
  margin: 0;
  padding: 14px;
  padding-left: 2rem;
  word-spacing: 7px;
}
.icon {
  background-color:#002968;
  color:#79a5ff
}

/* SETTINGS */
.settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-top: 1rem;
}
.settings fieldset {
  padding: 20px;
  border: 1px solid #ebeeff;
  border-radius: 2px;
  background-color: #002968;
}
.controller {
  margin-bottom: 8px;
}
.controller label {
  color: #ebeeff; 
}
#image-loader {
  width: 6.5rem;
}
#reset {
  margin-top: 1rem;
  background-color: #444655;
  color:#ebeeff;
  padding: 5px 20px;
  cursor: pointer;
}
.number-of-images-container {
  color: #ffba5e;
  font-weight: 500;
}


/* SLIDESHOW */
.slideshow {
  position: fixed;
  top: 5.5rem;
  left: 37%;
  width: 400px;
  height: 400px;
  border: 1px solid #ebeeff;
  border-radius: 2px;
  overflow: hidden;
  margin-top: 0.9rem;
}
.background-context {
  margin: 0;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -38%);
  text-align: center;
  color: /*#444655*/#444655;
}
.background-context.title {
  font-size: 1.7rem;
  top: 31%;
  font-family: fantasy;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ad471d;
}
.start-slide {
  font-family:'Open Sans';
  font-weight: normal;
  font-size: 1.2rem;
  width: 350px;
  position: relative;
  top: 50px;
}
.advice {
  font-size: 0.9rem;
}
.ready {
  font-size: 1.4rem;
  font-weight: bold;
  color:#007d58;
  font-family:'Bitter'
}
.hide {
  visibility: hidden;
}
.controller label {
  color:#ebeeff
}
.controller input {
  margin-left: 10px;
  background-color: #ebeeff;
  font-weight: bold;
  cursor: pointer;
}
.frame {
  padding: 5px;
  width: 3rem;
}
.image-container  {
  position: relative;
  left: 0;
  transition: left 0.7s;
}
.image-container img {
  width: 400px;
  height: 400px;
  min-width: 100%;
  min-height: 100%;
}
.arrow {
  cursor:pointer;
  position: absolute;
  background-color: rgba(28, 62, 130, 1);
  z-index: 1000;
  padding: 2px 7px;
  color: #ebeeff;
  transition: background-color 0.3s;
  font-size: 1.2rem;
  font-weight: bold;
  visibility: hidden;
}
.arrow:hover {
  background-color: #d1a617;
}
.arrow.right {
  right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.arrow.left {
  left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 992px) {
  header h1 {
    text-align: center;
  }
  .main {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
  .settings {
    align-items: center;
  }
  .slideshow {
    top: 1rem;
    left: 0;
    position: relative;
  }
}

@media screen and (max-width: 480px) {
  .slideshow {
    width: 280px;
    height: 300px;
  }
  .image-container img {
    width: 280px;
    height: 300px;
  }
  .start-slide {
    width: 250px;
    margin-top: 50px
  }
}